/* Testimonials */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

p {
  margin: 0;
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1840px;
  height: 3558px;
  padding: 80px;
  box-sizing: border-box;
  background-color: rgba(242, 242, 242, 1);
}
.group-1100 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.testimonial-a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 120px 112px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}
.the-largest-community-of-photo-enthusiasts {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
}
.you-re-in-good-company {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 29.54%;
  right: 29.54%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(0, 0, 0, 1);
  font-size: 48px;
  line-height: 150%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.72px;
}

.lorem-ipsum-dolor-sit-am {
  position: absolute;
  top: 141.67%;
  bottom: -180.56%;
  left: 4.88%;
  right: 4.88%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(0, 0, 0, 0.8);
  font-size: 36px;
  line-height: 139%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.54px;
}

.group-024 {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}
.rectangle {
  width: 173px;
  height: 100%;
}

.rectangle-1 {
  width: 173px;
  height: 100%;
}

.rectangle-2 {
  width: 173px;
  height: 100%;
}

.rectangle-3 {
  width: 173px;
  height: 100%;
}

.rectangle-4 {
  width: 173px;
  height: 100%;
}

.rectangle-5 {
  width: 173px;
  height: 100%;
}

.testimonial-b {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}
.group-923 {
  position: absolute;
  top: 120px;
  display: flex;
  flex-direction: row;
  width: 1520px;
  height: 722px;
  box-sizing: border-box;
}
.group-928 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  box-sizing: border-box;
}
.you-re-in-good-company-1 {
  color: rgba(0, 0, 0, 1);
  font-size: 48px;
  line-height: 150%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  letter-spacing: -0.72px;
}

.lorem-ipsum-dolor-sit-am-1 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 36px;
  line-height: 139%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  letter-spacing: -0.54px;
}

.group-287 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.group-532 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  box-sizing: border-box;
}
.group-071 {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}
.rectangle-6 {
  width: 173px;
  height: 100%;
}

.rectangle-7 {
  width: 173px;
  height: 100%;
}

.group-81010 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.rectangle-8 {
  width: 173px;
  height: 100%;
}

.rectangle-9 {
  width: 173px;
  height: 100%;
}

.group-638 {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}
.rectangle-10 {
  width: 100%;
  height: 76px;
}

.rectangle-11 {
  width: 100%;
  height: 76px;
}

.group-3104 {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 471px 70px 71px 64px;
  border: 0px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}
.sed-ut-perspiciatis-und {
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  line-height: 150%;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: -0.36px;
}

.nemo-enim-ipsam-volupta {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  line-height: 167%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  letter-spacing: -0.27px;
}

.rectangle-12 {
  position: absolute;
  top: 120px;
  left: 914px;
  width: 686px;
  height: 400px;
}

.testimonial-c {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 120px 212px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}
.lorem-ipsum-dolor-sit-am-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(0, 0, 0, 0.8);
  font-size: 36px;
  line-height: 139%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.54px;
}

.ellipse {
  width: 44px;
  height: 44px;
}

.nemo-enim-ipsam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  line-height: 167%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.27px;
}

.testimonial-d {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 120px 144px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}
.the-largest-community-of-photo-enthusiasts-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}
.you-re-in-good-company-2 {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 29.54%;
  right: 29.54%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(0, 0, 0, 1);
  font-size: 48px;
  line-height: 150%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.72px;
}

.lorem-ipsum-dolor-sit-am-3 {
  position: absolute;
  top: 141.67%;
  bottom: -180.56%;
  left: 4.88%;
  right: 4.88%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(0, 0, 0, 0.8);
  font-size: 36px;
  line-height: 139%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.54px;
}

.group-241 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.group-037 {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}
.rectangle-13 {
  width: 100%;
  height: 76px;
}

.rectangle-14 {
  width: 100%;
  height: 76px;
}

.group-519 {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}
.rectangle-15 {
  width: 100%;
  height: 76px;
}

.rectangle-16 {
  width: 100%;
  height: 76px;
}

.group-326 {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}
.rectangle-17 {
  width: 100%;
  height: 76px;
}

.rectangle-18 {
  width: 100%;
  height: 76px;
}

.group-711 {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}
.rectangle-19 {
  width: 100%;
  height: 76px;
}

.rectangle-20 {
  width: 100%;
  height: 76px;
}

.testimonial-e {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}
.group-1066 {
  position: absolute;
  top: 120px;
  display: flex;
  flex-direction: column;
  width: 971.8px;
  height: 184px;
  box-sizing: border-box;
}
.lorem-ipsum-dolor-sit-am-4 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 36px;
  line-height: 139%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  letter-spacing: -0.54px;
}

.group-242 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.ellipse-1 {
  width: 44px;
  height: 100%;
}

.nemo-enim-ipsam-2 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  line-height: 167%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  letter-spacing: -0.27px;
}

.rectangle-21 {
  position: absolute;
  top: 0px;
  left: 1171px;
  width: 509px;
  height: 100%;
}
